@model CRUD2.Models.AddProductModel

<form asp-action="Add" enctype="multipart/form-data" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Quantity"></label>
        <input type="number" asp-for="Quantity" class="form-control" />
        <span asp-validation-for="Quantity" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" type="text" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="photo"></label>
        <input asp-for="photo" class="form-control" type="file" />
        <span asp-validation-for="photo" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Add User</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
