@model CRUD2.Models.ProductModel

<h2 class="text-center">User Details</h2>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="text-center mb-4">
                <img src="~/Images/@Model.Image" alt="User Image" style="width:300px;height:350px;" />
            </div>
            <dl class="dl-horizontal">
                <dt>Name</dt>
                <dd>@Model.Name</dd>
                <dt>Email</dt>
                <dd>@Model.Price</dd>

            </dl>
            <button type="submit" class="btn btn-primary">Buy</button>

    </tbody>
</table>


        </div>
    </div>
</div>
